sdi3-204.Cli-NET/Service References/SeatsService/EJBSeatsServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EJBSeatsServiceService" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="application" type="tns:application" />
      <xs:element name="cancelSeat" type="tns:cancelSeat" />
      <xs:element name="cancelSeatResponse" type="tns:cancelSeatResponse" />
      <xs:element name="findApplication" type="tns:findApplication" />
      <xs:element name="findApplicationByTrip" type="tns:findApplicationByTrip" />
      <xs:element name="findApplicationByTripResponse" type="tns:findApplicationByTripResponse" />
      <xs:element name="findApplicationResponse" type="tns:findApplicationResponse" />
      <xs:element name="findByTrip" type="tns:findByTrip" />
      <xs:element name="findByTripResponse" type="tns:findByTripResponse" />
      <xs:element name="findByUserAndTrip" type="tns:findByUserAndTrip" />
      <xs:element name="findByUserAndTripResponse" type="tns:findByUserAndTripResponse" />
      <xs:element name="request" type="tns:request" />
      <xs:element name="requestResponse" type="tns:requestResponse" />
      <xs:element name="seatsToUpdate" type="tns:seatsToUpdate" />
      <xs:element name="seatsToUpdateResponse" type="tns:seatsToUpdateResponse" />
      <xs:complexType name="cancelSeat">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:seat" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="seat">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:seatStatus" />
          <xs:element minOccurs="0" name="tripId" type="xs:long" />
          <xs:element minOccurs="0" name="userId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelSeatResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findByTrip">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findByTripResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seat" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="seatsToUpdate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:application" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="application">
        <xs:sequence>
          <xs:element minOccurs="0" name="tripId" type="xs:long" />
          <xs:element minOccurs="0" name="userId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="seatsToUpdateResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findApplicationByTrip">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findApplicationByTripResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:application" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findApplication">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
          <xs:element minOccurs="0" name="arg1" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findApplicationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:application" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="request">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
          <xs:element minOccurs="0" name="arg1" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findByUserAndTrip">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
          <xs:element minOccurs="0" name="arg1" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findByUserAndTripResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:seat" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="seatStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADMITIDO" />
          <xs:enumeration value="EXCLUIDO" />
          <xs:enumeration value="PENDIENTE" />
          <xs:enumeration value="SIN_PLAZA" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="EntityNotFoundException" type="tns:EntityNotFoundException" />
      <xs:complexType name="EntityNotFoundException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="EntityAlreadyExistsException" type="tns:EntityAlreadyExistsException" />
      <xs:complexType name="EntityAlreadyExistsException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findApplicationByTripResponse">
    <wsdl:part name="parameters" element="tns:findApplicationByTripResponse" />
  </wsdl:message>
  <wsdl:message name="findApplicationResponse">
    <wsdl:part name="parameters" element="tns:findApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="request">
    <wsdl:part name="parameters" element="tns:request" />
  </wsdl:message>
  <wsdl:message name="cancelSeatResponse">
    <wsdl:part name="parameters" element="tns:cancelSeatResponse" />
  </wsdl:message>
  <wsdl:message name="seatsToUpdate">
    <wsdl:part name="parameters" element="tns:seatsToUpdate" />
  </wsdl:message>
  <wsdl:message name="findByUserAndTripResponse">
    <wsdl:part name="parameters" element="tns:findByUserAndTripResponse" />
  </wsdl:message>
  <wsdl:message name="findByUserAndTrip">
    <wsdl:part name="parameters" element="tns:findByUserAndTrip" />
  </wsdl:message>
  <wsdl:message name="findByTrip">
    <wsdl:part name="parameters" element="tns:findByTrip" />
  </wsdl:message>
  <wsdl:message name="findByTripResponse">
    <wsdl:part name="parameters" element="tns:findByTripResponse" />
  </wsdl:message>
  <wsdl:message name="EntityAlreadyExistsException">
    <wsdl:part name="EntityAlreadyExistsException" element="tns:EntityAlreadyExistsException" />
  </wsdl:message>
  <wsdl:message name="findApplication">
    <wsdl:part name="parameters" element="tns:findApplication" />
  </wsdl:message>
  <wsdl:message name="findApplicationByTrip">
    <wsdl:part name="parameters" element="tns:findApplicationByTrip" />
  </wsdl:message>
  <wsdl:message name="requestResponse">
    <wsdl:part name="parameters" element="tns:requestResponse" />
  </wsdl:message>
  <wsdl:message name="EntityNotFoundException">
    <wsdl:part name="EntityNotFoundException" element="tns:EntityNotFoundException" />
  </wsdl:message>
  <wsdl:message name="seatsToUpdateResponse">
    <wsdl:part name="parameters" element="tns:seatsToUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="cancelSeat">
    <wsdl:part name="parameters" element="tns:cancelSeat" />
  </wsdl:message>
  <wsdl:portType name="SeatsService">
    <wsdl:operation name="cancelSeat">
      <wsdl:input name="cancelSeat" message="tns:cancelSeat" />
      <wsdl:output name="cancelSeatResponse" message="tns:cancelSeatResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
    <wsdl:operation name="findByTrip">
      <wsdl:input name="findByTrip" message="tns:findByTrip" />
      <wsdl:output name="findByTripResponse" message="tns:findByTripResponse" />
    </wsdl:operation>
    <wsdl:operation name="seatsToUpdate">
      <wsdl:input name="seatsToUpdate" message="tns:seatsToUpdate" />
      <wsdl:output name="seatsToUpdateResponse" message="tns:seatsToUpdateResponse" />
      <wsdl:fault name="EntityAlreadyExistsException" message="tns:EntityAlreadyExistsException" />
    </wsdl:operation>
    <wsdl:operation name="findApplicationByTrip">
      <wsdl:input name="findApplicationByTrip" message="tns:findApplicationByTrip" />
      <wsdl:output name="findApplicationByTripResponse" message="tns:findApplicationByTripResponse" />
    </wsdl:operation>
    <wsdl:operation name="findApplication">
      <wsdl:input name="findApplication" message="tns:findApplication" />
      <wsdl:output name="findApplicationResponse" message="tns:findApplicationResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
    <wsdl:operation name="request">
      <wsdl:input name="request" message="tns:request" />
      <wsdl:output name="requestResponse" message="tns:requestResponse" />
      <wsdl:fault name="EntityAlreadyExistsException" message="tns:EntityAlreadyExistsException" />
    </wsdl:operation>
    <wsdl:operation name="findByUserAndTrip">
      <wsdl:input name="findByUserAndTrip" message="tns:findByUserAndTrip" />
      <wsdl:output name="findByUserAndTripResponse" message="tns:findByUserAndTripResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EJBSeatsServiceServiceSoapBinding" type="tns:SeatsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cancelSeat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelSeat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelSeatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByTrip">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findByTrip">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findByTripResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seatsToUpdate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="seatsToUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="seatsToUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityAlreadyExistsException">
        <soap:fault use="literal" name="EntityAlreadyExistsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findApplicationByTrip">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findApplicationByTrip">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findApplicationByTripResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findApplication">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findApplication">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findApplicationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByUserAndTrip">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findByUserAndTrip">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findByUserAndTripResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="request">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="request">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityAlreadyExistsException">
        <soap:fault use="literal" name="EntityAlreadyExistsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EJBSeatsServiceService">
    <wsdl:port name="SeatsServicePort" binding="tns:EJBSeatsServiceServiceSoapBinding">
      <soap:address location="http://localhost:8180/sdi3-204.EJB/SeatsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>