sdi3-204.Cli-NET/Service References/UsersService/EJBUsersServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EJBUsersServiceService" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="cancelUser" type="tns:cancelUser" />
      <xs:element name="cancelUserResponse" type="tns:cancelUserResponse" />
      <xs:element name="deleteUser" type="tns:deleteUser" />
      <xs:element name="deleteUserResponse" type="tns:deleteUserResponse" />
      <xs:element name="findAllUsers" type="tns:findAllUsers" />
      <xs:element name="findAllUsersResponse" type="tns:findAllUsersResponse" />
      <xs:element name="findUserById" type="tns:findUserById" />
      <xs:element name="findUserByIdResponse" type="tns:findUserByIdResponse" />
      <xs:element name="saveUser" type="tns:saveUser" />
      <xs:element name="saveUserResponse" type="tns:saveUserResponse" />
      <xs:element name="updateUser" type="tns:updateUser" />
      <xs:element name="updateUserResponse" type="tns:updateUserResponse" />
      <xs:complexType name="updateUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="saveUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findAllUsers">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findAllUsersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="findUserById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findUserByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:simpleType name="userStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="CANCELLED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="EntityNotFoundException" type="tns:EntityNotFoundException" />
      <xs:complexType name="EntityNotFoundException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="EntityAlreadyExistsException" type="tns:EntityAlreadyExistsException" />
      <xs:complexType name="EntityAlreadyExistsException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="saveUserResponse">
    <wsdl:part name="parameters" element="tns:saveUserResponse" />
  </wsdl:message>
  <wsdl:message name="findUserById">
    <wsdl:part name="parameters" element="tns:findUserById" />
  </wsdl:message>
  <wsdl:message name="findUserByIdResponse">
    <wsdl:part name="parameters" element="tns:findUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="findAllUsers">
    <wsdl:part name="parameters" element="tns:findAllUsers" />
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="EntityAlreadyExistsException">
    <wsdl:part name="EntityAlreadyExistsException" element="tns:EntityAlreadyExistsException" />
  </wsdl:message>
  <wsdl:message name="EntityNotFoundException">
    <wsdl:part name="EntityNotFoundException" element="tns:EntityNotFoundException" />
  </wsdl:message>
  <wsdl:message name="findAllUsersResponse">
    <wsdl:part name="parameters" element="tns:findAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="saveUser">
    <wsdl:part name="parameters" element="tns:saveUser" />
  </wsdl:message>
  <wsdl:message name="cancelUserResponse">
    <wsdl:part name="parameters" element="tns:cancelUserResponse" />
  </wsdl:message>
  <wsdl:message name="cancelUser">
    <wsdl:part name="parameters" element="tns:cancelUser" />
  </wsdl:message>
  <wsdl:portType name="UsersService">
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUser" message="tns:updateUser" />
      <wsdl:output name="updateUserResponse" message="tns:updateUserResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
    <wsdl:operation name="saveUser">
      <wsdl:input name="saveUser" message="tns:saveUser" />
      <wsdl:output name="saveUserResponse" message="tns:saveUserResponse" />
      <wsdl:fault name="EntityAlreadyExistsException" message="tns:EntityAlreadyExistsException" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <wsdl:input name="findAllUsers" message="tns:findAllUsers" />
      <wsdl:output name="findAllUsersResponse" message="tns:findAllUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <wsdl:input name="cancelUser" message="tns:cancelUser" />
      <wsdl:output name="cancelUserResponse" message="tns:cancelUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <wsdl:input name="findUserById" message="tns:findUserById" />
      <wsdl:output name="findUserByIdResponse" message="tns:findUserByIdResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser" />
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse" />
      <wsdl:fault name="EntityNotFoundException" message="tns:EntityNotFoundException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EJBUsersServiceServiceSoapBinding" type="tns:UsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityAlreadyExistsException">
        <soap:fault use="literal" name="EntityAlreadyExistsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUserById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findUserById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityNotFoundException">
        <soap:fault use="literal" name="EntityNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EJBUsersServiceService">
    <wsdl:port name="UsersServicePort" binding="tns:EJBUsersServiceServiceSoapBinding">
      <soap:address location="http://localhost:8180/sdi3-204.EJB/UsersService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>