sdi3-204.Cli-NET/Service References/ClientService/EJBClientServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EJBClientServiceService" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ejb.impl.business.sdi.uo/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="disableUser" type="tns:disableUser" />
      <xs:element name="disableUserResponse" type="tns:disableUserResponse" />
      <xs:element name="getUsers" type="tns:getUsers" />
      <xs:element name="getUsersResponse" type="tns:getUsersResponse" />
      <xs:element name="listRatings" type="tns:listRatings" />
      <xs:element name="listRatingsResponse" type="tns:listRatingsResponse" />
      <xs:element name="listUsersInfo" type="tns:listUsersInfo" />
      <xs:element name="listUsersInfoResponse" type="tns:listUsersInfoResponse" />
      <xs:element name="ratingInfo" type="tns:ratingInfo" />
      <xs:element name="removeRating" type="tns:removeRating" />
      <xs:element name="removeRatingResponse" type="tns:removeRatingResponse" />
      <xs:element name="userInfo" type="tns:userInfo" />
      <xs:complexType name="listRatings">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listRatingsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ratingInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ratingInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="aboutUserId" type="xs:long" />
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element minOccurs="0" name="destino" type="xs:string" />
          <xs:element minOccurs="0" name="fromUserId" type="xs:long" />
          <xs:element name="value" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="disableUserResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getUsers">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getUsersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeRating">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeRatingResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listUsersInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="listUsersInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="numParticipated" type="xs:int" />
          <xs:element name="numPromoted" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="userStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="CANCELLED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="listUsersInfoResponse">
    <wsdl:part name="parameters" element="tns:listUsersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="listUsersInfo">
    <wsdl:part name="parameters" element="tns:listUsersInfo" />
  </wsdl:message>
  <wsdl:message name="listRatingsResponse">
    <wsdl:part name="parameters" element="tns:listRatingsResponse" />
  </wsdl:message>
  <wsdl:message name="removeRatingResponse">
    <wsdl:part name="parameters" element="tns:removeRatingResponse" />
  </wsdl:message>
  <wsdl:message name="disableUser">
    <wsdl:part name="parameters" element="tns:disableUser" />
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="disableUserResponse">
    <wsdl:part name="parameters" element="tns:disableUserResponse" />
  </wsdl:message>
  <wsdl:message name="listRatings">
    <wsdl:part name="parameters" element="tns:listRatings" />
  </wsdl:message>
  <wsdl:message name="removeRating">
    <wsdl:part name="parameters" element="tns:removeRating" />
  </wsdl:message>
  <wsdl:portType name="ClientService">
    <wsdl:operation name="listRatings">
      <wsdl:input name="listRatings" message="tns:listRatings" />
      <wsdl:output name="listRatingsResponse" message="tns:listRatingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <wsdl:input name="disableUser" message="tns:disableUser" />
      <wsdl:output name="disableUserResponse" message="tns:disableUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="tns:getUsers" />
      <wsdl:output name="getUsersResponse" message="tns:getUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeRating">
      <wsdl:input name="removeRating" message="tns:removeRating" />
      <wsdl:output name="removeRatingResponse" message="tns:removeRatingResponse" />
    </wsdl:operation>
    <wsdl:operation name="listUsersInfo">
      <wsdl:input name="listUsersInfo" message="tns:listUsersInfo" />
      <wsdl:output name="listUsersInfoResponse" message="tns:listUsersInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EJBClientServiceServiceSoapBinding" type="tns:ClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listRatings">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listRatings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listRatingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="disableUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="disableUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUsersInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listUsersInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listUsersInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRating">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeRating">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRatingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EJBClientServiceService">
    <wsdl:port name="ClientServicePort" binding="tns:EJBClientServiceServiceSoapBinding">
      <soap:address location="http://localhost:8180/sdi3-204.EJB/ClientService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>