sdi3-204.Cli-NET/Service References/LoginService/EJBLoginServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.impl.business.sdi.uo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EJBLoginServiceService" targetNamespace="http://ejb.impl.business.sdi.uo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ejb.impl.business.sdi.uo/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="verify" type="tns:verify" />
      <xs:element name="verifyResponse" type="tns:verifyResponse" />
      <xs:complexType name="verify">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="verifyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:userStatus" />
          <xs:element minOccurs="0" name="surname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="userStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="CANCELLED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="verify">
    <wsdl:part name="parameters" element="tns:verify" />
  </wsdl:message>
  <wsdl:message name="verifyResponse">
    <wsdl:part name="parameters" element="tns:verifyResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginService">
    <wsdl:operation name="verify">
      <wsdl:input name="verify" message="tns:verify" />
      <wsdl:output name="verifyResponse" message="tns:verifyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EJBLoginServiceServiceSoapBinding" type="tns:LoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verify">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="verify">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="verifyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EJBLoginServiceService">
    <wsdl:port name="LoginServicePort" binding="tns:EJBLoginServiceServiceSoapBinding">
      <soap:address location="http://localhost:8180/sdi3-204.EJB/LoginService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>